body {
	background-color: #ECEEF1;
}

header {
	display: flex;
	direction: row;
	justify-content: flex-end;
	margin: 5px 10px;
}

header div {
	margin-right: 10px;
}

fieldset {
	margin: 10px auto;
	width: 300px;
	background: white;
}

li {
	display: inline;
	margin: 3px;
	font-size: 1em;
	font-family: 'Courier New';
}
ul {
	margin-top : 10px;
	text-align: center;
	padding: 0;
}

input {
	display: block;
	width: 250px;
	margin: 10px auto;
}

p {
	text-align: center;
}

h2 {
	text-align: center;
	margin-top: 0px;
	font-family: Arial;
	color : gray;
}
#oneTitle {
	margin-top: 20px;
	 margin-bottom:0px;
}
#menu h1 {
	margin-bottom: 0px;
}
h1 {
	text-align: center;
	font-size: 2.3em;
	font-family:  'Courier New';
}

#submit {
	margin: 5px auto;
	background-color: #0077C5;
	border: 2px solid #0077C5;
	color: white;
	padding: 14px 100px;
	border-radius: 7px;
}

#menu {
	color: grey;
}

#header p{
	font-size: 0.85em;
	margin: 0;
}

#signOut{
	background-color: #0077C5;
	border: 2px solid #0077C5;
	color: white;
	padding: 5px 30px;
	border-radius: 7px;
}