body {
	background-color: #ECEEF1;
	font-family: 'Arial';
	color: #3f4241;
}

header {
	display: flex;
	direction: row;
	justify-content: flex-end;
	margin: 5px 10px;
	font-size: 0.9em;
}

header div {
	margin-right: 10px;
}

fieldset {
	margin: 10px auto;
	width: 350px;
	background: white;
	border: 1px solid #d6d6c2;
}

li {
	display: inline;
	margin: 3px;
	font-size: 1.2em;
	font-family: 'Courier New';
}
ul {
	margin-top : 10px;
	text-align: center;
	padding: 0;
}

input {
	display: block;
	width: 250px;
	margin: 5px auto 20px auto;
	padding: 5px 15px;
}

p {
	text-align: center;
}

h2 {
	text-align: center;
	margin-top: 0px;
	font-family: Arial;
	font-weight: normal;
}
#oneTitle {
	margin-top: 20px;
	margin-bottom:0px;
}
#idea { 
	margin-left: 20px;
	margin-right: 20px;
	font-size: 0.9em;
}

#menu h1 {
	margin-bottom: 0px;
}
h1 {
	text-align: center;
	font-size: 2.3em;
	font-family:  'Courier New';
}

#submit {
	margin: 0 10%;
	background-color: #0077C5;
	border: 2px solid #0077C5;
	color: white;
	padding: 5px 100px;
	border-radius: 7px;
}

#menu {
	color: grey;
}

#header p{
	font-size: 0.85em;
	margin: 0;
}

#signOut{
	background-color: #0077C5;
	border: 2px solid #0077C5;
	color: white;
	padding: 5px 30px;
	border-radius: 7px;
}

label p {
	font-size: 0.6em;
	text-align: left;
	margin-left: 33px;
	margin-top: -13px; 
}
label {
	margin-left: 33px;
	font-size: 0.9em;
}

#inputs {
	margin-bottom: -15px;
}

#bottom {
	color: #96999e;
	font-size: 0.7em;
}

footer {
	font-size: 0.7em;
}

footer ul li {
	font-family: arial;
	font-size: 1.1em;
}

.lowYmargin {
	margin-top: 3px;
	margin-bottom: 3px;
}
